<mat-toolbar >


  <img src="assets/logo.png"alt="Logo" class="logo">
  <span class="spacer"></span>

  <div class="option">
   <a routerLink="/">  <mat-icon>home</mat-icon>
     <span >Home</span></a>
  </div>

      <span class="spacer"></span>






  <div class="option">
  <a routerLink="/apply"> <mat-icon>assignment</mat-icon>
    <span >Apply</span></a>

  </div>
  <span class="spacer"></span>

  <div class="option">
  <a  routerLink="/login"><mat-icon>lock_open</mat-icon>
    <span >Login</span></a>
  </div>
  <span class="spacer"></span>
</mat-toolbar>

<div class="container">
  <div class="left">
    <h1>APPLY NOW!</h1>
    <h3>Register your Team for the best experience!</h3>
    <button mat-raised-button color="primary" class="mat-button-sm" routerLink="/apply">Apply</button>



  </div>
  <div class="right">
    <img src="assets/home.png"alt="Logo" >

</div>

</div>

