

    <div class="container">
      <ng-container *ngFor="let proj of projects">
        <div class="card">
          <span>{{proj}}</span>
        </div>
      </ng-container>


    </div>
    <button mat-icon-button id="mybutton" (click)="addProject()">
      <mat-icon>add</mat-icon>
    </button>


  <br>
<div class="co" *ngIf="addingActivity==true">
  <div class="login-card">
    <div class="card-header">
      <div class="log">Create Activity</div>
    </div>

    <form (ngSubmit)="submitForm()" >
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="formData.name">

      <button mat-raised-button color="primary" type="submit" >Submit</button>
    </form>
  </div>
</div>
