<mat-toolbar>


  <img src="assets/logo.png" alt="Logo" class="logo">
  <span class="spacer"></span>

  <div class="option">
    <a routerLink="/">
      <mat-icon>home</mat-icon>
      <span>Home</span></a>
  </div>

  <span class="spacer"></span>


  <div class="option">
    <a routerLink="/apply">
      <mat-icon>assignment</mat-icon>
      <span>Apply</span></a>

  </div>
  <span class="spacer"></span>

  <div class="option">
    <a routerLink="/login">
      <mat-icon>lock_open</mat-icon>
      <span>Login</span></a>
  </div>
  <span class="spacer"></span>
</mat-toolbar>


<div class="reg">
  <h1>Register your team!</h1>
  <form #myform2="ngForm"(ngSubmit)="SubmitForm(myform2)">
    <mat-form-field id="name">
      <input matInput placeholder="Name" required>
    </mat-form-field>

    <mat-form-field id="email">
      <input matInput type="email" placeholder="Email" required>
    </mat-form-field>
    <br> <!-- add a line break here -->
    <mat-form-field id="password">
      <input matInput type="password" placeholder="Password" required>
    </mat-form-field>
    <br>

    <button mat-raised-button class="files" (click)="showActivity()">
      Choose Activity
    </button>


    <br>
    <br>
    <ng-container *ngIf="selected===true">
      <ng-container *ngFor="let activ of activities">
        <p>{{activ}}</p>
      </ng-container>
      <br> <!-- add a line break here -->
      <mat-form-field id="activity">
        <input matInput type="activity" placeholder="Activity" required>
      </mat-form-field>
      <br>

    </ng-container>
<br>

    <button mat-raised-button class="files"  type="submit">
   Submit
   </button>




  </form>

</div>

